<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Welcome to the Mock Shop</h1>

      <div class="row">
        <div class="col-sm-6">
          <div class="card mt-5">
            <div class="card-body text-center">
              <h5 class="card-title">Hosted Fields Form</h5>
              <p class="card-text">Perform a transaction with the Braintree Hosted Fields Checkout UI.</p>
              <a href="hosted-fields" class="btn btn-primary btn-lg active col-sm-4" role="button" aria-pressed="true">Checkout</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-5">
            <div class="card-body text-center">
              <h5 class="card-title">Drop-in UI Form</h5>
              <p class="card-text">Perform a transaction with the Braintree Drop-in UI.</p>
              <a href="dropin" class="btn btn-primary btn-lg active col-sm-4" role="button" aria-pressed="true">Checkout</a>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card mt-5">
            <div class="card-body text-center">
              <h5 class="card-title">ACH Checkout</h5>
              <p class="card-text">Perform a transaction with the ACH Direct Debit functionality.</p>
              <a href="ach" class="btn btn-primary btn-lg active col-sm-4" role="button" aria-pressed="true">ACH</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-5">
            <div class="card-body text-center">
              <h5 class="card-title">Order History Report</h5>
              <p class="card-text">Generate a list of transactions within the last 3 months.</p>
              <a href="history" class="btn btn-primary btn-lg active col-sm-4" role="button" aria-pressed="true">Generate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>